body{
  background-color: rgb(8, 2, 41);
  color: white;
  text-align: center;
  font-family: monospace;
  letter-spacing: 2px;
}
.input-group2 > input{
  background-color: rgba(240, 240, 240, 0.062);
  font-size: 25px;
  color: palevioletred;

  min-height: 100px;
  width: 100%;
  border-radius: 5px;
  border-style: none;
}

.input-group2 > input:focus{
  background-color: rgba(240, 240, 240, 0.062);
  font-size: 25px;
  color: palevioletred;
  min-height: 100px;
  width: 100%;
  border-radius: 5px;
  border-style: none;
}

.btn{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.list > li > label{
  width: 80%;
  font-size: 18px;
}